# Backend API endpoint
VITE_API_URL=http://localhost:5000

# Stellar & Soroban Testnet
VITE_STELLAR_NETWORK=TESTNET
VITE_HORIZON_URL=https://horizon-testnet.stellar.org
VITE_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
VITE_SOROBAN_CONTRACT_ID=CADMWQPCCQP27UHQU4JG3C6V5I3UFNNC4DVOMSK2GUJFA6Q2PNW36S52
VITE_EXPLORER_URL=https://stellar.expert/explorer/testnet/tx
VITE_CONTRACT_EXPLORER_URL=https://stellar.expert/explorer/testnet/contract
